*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 400vh;
}
img
{
    width: 100px;
}
header
{
    padding: 1rem;
    background-color: slategray;
    color: antiquewhite;
    text-align: center;
    /* 
        En position fixed, l'élément sort du flow de la page.
        C'est à dire que son emplacement dans la page disparaît et qu'il survole le reste.
        L'élément est alors fixé au viewport, il restera visible même si on scroll.
    */
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav, main 
{
    margin-top: 50px;
    display: inline-block;
    height: 100%;
    padding: 2rem;
}
nav
{
    height: 50%;
    width: 200px;
    background-color: darkseagreen;
}
nav ul
{
    /* 
        En position sticky, l'élément se déplacera dans son parent, dès que la limite indiqué par les propriétés (top, left, bottom ou right) sera atteinte.
    */
    position: sticky;
    top: 70px;
}
main
{
    width: calc(100% - 210px);
    background-color: mediumseagreen;
    /* 
        En relative, l'élément gardera son emplacement d'origine occupé,
        peu importe où il sera déplacé. 
        Son déplacement se fait par rapport à sa position d'origine
    */
    position: relative;
    top: 100px;
    left: 50px;
}
button
{
    /* 
        En position absolute, l'élément sort du flow de la page
        Puis est positionné par rapport à son parent positionné le plus proche.
    */
    position: absolute;
    top: 150px;
    left: 5px;
}
img
{
    float: left;
    border-radius: 50%;
    shape-outside: margin-box;
    margin: 5px;
}
main
{
    /* background-image: linear-gradient(70deg, purple 70%, chartreuse, #57C2A8, rgb(156, 79, 32)); */
    background: linear-gradient(to right, blue 33%, white 33%, white 66%, red 66%) no-repeat center/100px ;
    /* background: linear-gradient(to right, blue, white, white, red); */
}
header
{
    background-image: url("../03-box-sizing/logo_html.png"), url("../03-box-sizing/ville.jpg");
    background-size: contain, cover;
    background-position: bottom left;
    background-repeat: no-repeat;
}
button
{
    /* Déjà en position absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}