ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
li {
    list-style: none;
    /* display: flex;  */
}
button {
    font-size: 50px;
    padding: 25px 45px;
    border-radius: 70px;
    background-color: red;
    color: snow;
    box-shadow: 15px 15px 20px black;
    transition: all 1s; }
button:hover {
    transform: translateY(2px) rotateX(0deg);
    box-shadow: 7px 7px 15px black;
    transition: box-shadow 1s, transform 1s;  }
button:active {
    transform: translateY(2px) rotateX(360deg); 
    transition: box-shadow 1s; }